<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Test Report with Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <style>
        body {
            font-family: monospace
        }

        .bg-green {
            background: #2ecc71 !important;
            color: white !important
        }

        .bg-red {
            background: #e74c3c !important;
            color: white !important
        }
        .transparent-table {
            background-color: #ecf0f1;
        }
        .transparent-table th,
        .transparent-table td {
            background-color: #ecf0f1; /* Makes each cell transparent */
        }
    </style>
</head>
<body>

<div id="app" class="container">
    <h1 class="mt-3">{{ reportData.title }}</h1>
    <div class="summery p-3" style="border-radius: 10px; background: #34495e">
        <h3 style="color: white"><b>Summery</b></h3>
        <div>
            <table class="table table-bordered transparent-table" >
                <tr>
                    <td style="width: 180px" >
                        <b>Date</b>
                    </td>
                    <td>
                        {{ reportData.date }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>User</b>
                    </td>
                    <td>
                        {{ reportData.user }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Total test cases</b>
                    </td>
                    <td>
                        {{ reportData.totalCount }}
                    </td>
                </tr>
                <tr>
                    <td >
                        <b>Passed</b>
                    </td>
                    <td >
                        {{ reportData.passedCount }}
                    </td>
                </tr>
                <tr >
                    <td >
                        <b>Failed</b>
                    </td>
                    <td >
                        {{ reportData.failedCount }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="p-2 mt-3 mb-3">
        <select class="form-select" aria-label="Default select example" style="width: 200px"  v-model="filterOps">
            <option value="0">Show All</option>
            <option value="1">Only Passed</option>
            <option value="2">Only Failed</option>
        </select>
    </div>

    <div class="accordion mb-5" id="reportAccordion">
        <div v-for="(section, index) in reportData.sections" :key="section.title" v-if="(filterOps == '1' && section.status) || (filterOps == '2' && !section.status) || filterOps == '0'">
            <div class="accordion-item">
                <h2 class="accordion-header" :id="'heading' + index">
                    <button class="accordion-button collapsed" type="button" style="background: #ecf0f1" data-bs-toggle="collapse" :data-bs-target="'#collapse' + index" aria-expanded="false" :aria-controls="'collapse' + index">
                       <span :class="section.status ? 'badge bg-green' : 'badge bg-red'" align="center">
                                    <b>{{ section.status ? '✓ Passed' : '✗ Failed' }}</b>
                                </span> &nbsp; &nbsp; <b>{{ section.title }}</b>
                    </button>
                </h2>
                <div :id="'collapse' + index" class="accordion-collapse collapse" :aria-labelledby="'heading' + index" data-bs-parent="#reportAccordion">
                    <div class="accordion-body">
                        <table class="table table-bordered">
                            <tr v-for="step in section.steps" :key="step.name" v-if="(filterOps == '1' && step.status) || (filterOps == '2' && !step.status) || filterOps == '0'">
                                <td align="center" style="width: 100px;">
                                <span :class="step.status ? 'badge bg-green' : 'badge bg-red'" align="center">
                                    <b>{{ step.status ? '✓ Passed' : '✗ Failed' }}</b>
                                </span>
                                </td>
                                <td>{{ step.name }}</td>
                                <td class="details" style="width: 100px;">
                                    <div class="mx-auto" style="display: flex">
                                        <button class="btn btn-xs btn-outline-secondary" style="--bs-btn-padding-y: .2rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .7rem;" data-bs-toggle="modal" data-bs-target="#exampleModal" @click="openDetails(step.details)">Details</button>
                                        <button class="btn btn-sm btn-outline-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .7rem; margin-left: 10px" data-bs-toggle="modal" data-bs-target="#exampleModal" @click="openAsserts(step)">Assertions</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" v-html="modelContent" v-if="modelContent != null">

                </div>
                <div class="modal-body"  v-if="stepContent != null">
                    <table v-if="stepContent != null" class="table table-bordered" style="border-color: #7f8c8d">
                        <tr v-for="assertion in stepContent.asserts" :key="assertion.name">
                            <td style="word-break: break-all">
                                 <span :class="assertion.status ? 'badge  bg-green' : 'badge bg-red'">
                                    {{ assertion.status ? '✓' : '✗' }}
                                </span>
                                <b>{{ assertion.name }}</b>
                                <div v-if="assertion.expected" class=" mt-2">
                                    <table class="table table-bordered" style="font-size: 0.75em">
                                        <tr>
                                            <td style="width: 100px"><i><b>Expected</b></i></td>
                                            <td><i>{{assertion.expected}}</i></td>
                                        </tr>
                                        <tr>
                                            <td><i><b>Actual</b></i></td>
                                            <td><i>{{assertion.actual}}</i></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>



<script>
// Sample JSON data
const jsonData = {
    "date": 1730898124639,
    "title": "Test Scenario",
    "sections": [
        {
            "title": "Pre Steps",
            "steps": [
                {
                    "name": "User registration",
                    "status": true,
                    "time": 626,
                    "asserts": [
                        {"name": "Status code check", "status": true},
                        {"name": "id not null", "status": true},
                        {"name": "username not null", "status": true}
                    ],
                    "details": "<pre>Request and Response details here</pre>"
                }
                // Add more steps as needed
            ]
        }
        // Add more sections as needed
    ]
};

// Vue instance
new Vue({
    el: '#app',
    data: {
        modelContent: "",
        filterOps: "0",
        stepContent: null,
        reportData: __TESTDATA__
     },
    methods: {
        openDetails(data) {
            this.stepContent = null;
            this.modelContent = data;
        },
        openAsserts(data) {
            this.modelContent = null;
            this.stepContent = data;

        }
  }
});

</script>

</body>
</html>
